html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
}

* {
	-webkit-user-select: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

video::-webkit-media-controls {
	display: none !important;
}

video::-webkit-media-controls-enclosure {
	display: none !important;
}